<%- include('../partials/navbar.ejs') %> <%-
include('../partials/response-message.ejs') %>

<div class="pt-32pt">
  <div
    class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left"
  >
    <div class="flex d-flex flex-column flex-sm-row align-items-center">
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Change Password</h2>

        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>
          <li class="breadcrumb-item">Change Password</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->

<div class="container page__container page-section">
  <div class="row mb-32pt">
    <div class="col-lg-4">
      <div class="page-separator">
        <div class="page-separator__text">Change Password</div>
      </div>
      <p class="card-subtitle text-70 mb-16pt mb-lg-0">
        Enter your new password below and confirm it to change your password
      </p>
    </div>
    <div class="col-lg-8 d-flex align-items-center">
      <div class="flex" style="max-width: 100%">
        <form action="/account/change-password" method="post">
          <div class="form-group">
            <label class="form-label" for="password">Password*:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter new password"
              required
            />
          </div>
          <div class="form-group">
            <label class="form-label" for="confirm-password"
              >Confirm Password*:</label
            >
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              name="confirmPassword"
              placeholder="Confirm new password"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/drawer.ejs') %>
