<div class="col-md-5 p-0 mx-auto">
  <div class="card card-lg overlay--primary-dodger-blue">
    <div class="card-body d-flex flex-column">
      <%- include("./partials/responseMessage.ejs") %>
      <p>
        Enter your email address and we will send you a link to reset your
        password
      </p>
      <form action="/forgotPassword" method="POST">
        <div class="form-group">
          <label class="form-label" for="email">Email:</label>
          <input
            id="email"
            name="email"
            type="email"
            class="form-control"
            required
            placeholder="Ente your email address"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
