<%- include('./partials/navbar.ejs') %>
<div class="pt-32pt">
  <div
    class="
      container
      page__container
      d-flex
      flex-column flex-md-row
      align-items-center
      text-center text-sm-left
    "
  >
    <div
      class="
        flex
        d-flex
        flex-column flex-sm-row
        align-items-center
        mb-24pt mb-md-0
      "
    >
      <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">Dashboard</h2>

        <ol class="breadcrumb p-0 m-0">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
        </ol>
      </div>
    </div>

    <div class="row" role="tablist">
      <div class="col-auto">
        <a href="/churches/add" class="btn btn-outline-secondary"
          >Add Chuhrch</a
        >
      </div>
    </div>
  </div>
</div>

<!-- BEFORE Page Content -->

<!-- // END BEFORE Page Content -->

<!-- Page Content -->

<div class="container page__container page__container page-section">
  <div class="page-separator">
    <div class="page-separator__text">Overview</div>
  </div>

  <div class="row card-group-row mb-lg-8pt">
    <div class="col-lg-6 col-md-12 card-group-row__col">
      <div class="card card-group-row__card p-relative o-hidden">
        <a href="/churches">
          <div class="card-body d-flex flex-row align-items-center">
            <div class="flex">
              <p class="card-title d-flex align-items-center">
                <strong>Church</strong>
                <span class="text-20 ml-8pt"></span>
                <i class="material-icons text-accent ml-4pt icon-16pt"
                  >home_work</i
                >
              </p>
              <span class="h2 m-0"><%=data.churchesCount %></span>
            </div>
            <i class="material-icons icon-32pt text-20 ml-8pt">home_work</i>
          </div>
          <div class="progress" style="height: 3px">
            <div
              class="progress-bar bg-accent"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 card-group-row__col">
      <div class="card card-group-row__card p-relative o-hidden">
        <a href="/users">
          <div class="card-body d-flex flex-row align-items-center">
            <div class="flex">
              <p class="card-title d-flex align-items-center">
                <strong>Registered Users</strong>
                <span class="text-20 ml-8pt"></span>
                <i class="material-icons text-primary ml-4pt icon-16pt"
                  >contacts</i
                >
              </p>
              <span class="h2 m-0"><%=data.usersCount %></span>
            </div>
            <i class="material-icons icon-32pt text-20 ml-8pt">contacts</i>
          </div>
          <div class="progress" style="height: 3px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="card mb-lg-32pt">
    <div class="card-header d-flex align-items-center">
      <strong class="card-title">Donations</strong>
      <!-- <div class="flatpickr-wrapper flatpickr-calendar-right d-flex ml-auto">
        <div
          id="recent_orders_date"
          data-toggle="flatpickr"
          data-flatpickr-wrap="true"
          data-flatpickr-static="true"
          data-flatpickr-mode="range"
          data-flatpickr-alt-format="d/m/Y"
          data-flatpickr-date-format="d/m/Y"
        >
          <a href="javascript:void(0)" class="link-date" data-toggle
            >13/03/2018 to 20/03/2018</a
          >
          <input
            class="d-none"
            type="hidden"
            value="13/03/2018 to 20/03/2018"
            data-input
          />
        </div>
      </div> -->
    </div>
    <div class="card-body">
      <div
        class="chart-legend mt-0 mb-24pt justify-content-start"
        id="ordersChartLegend"
      ></div>
      <div class="chart">
        <canvas
          id="myChart"
          class="chart-canvas js-update-chart-bar"
          data-chart-legend="#ordersChartLegend"
          data-chart-prefix="$"
          data-chart-suffix="k"
          data-chart-line-background-color="primary"
        ></canvas>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/drawer.ejs') %>
