
<div class="page-section">
    <div class="container page__container">
        <form id="payment-form" class="col-md-8 p-0 mx-auto">
             <% if (status==="success") {%>
                 Success
            <% } else {%>
                 Failed
             <% }%>
        </form>
    </div>
</div>
